h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    margin: 0 auto;
    text-decoration: none;
    display: block;
    width: fit-content;
}

#links {
    text-align: center;
}

#russian-roulette {
    border: solid black;
    border-radius: 30px;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    padding-bottom: 0px;
    transition: all 0.05s ease;
}

#russian-roulette:hover {
    background-color: rgb(212, 212, 255);
    filter: sepia(500%) hue-rotate(30deg);
    box-shadow: 5px 5px 10px black;
}

#russian-roulette img {
    filter: none;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}