h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    margin: 0 auto;
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: 10px;
}

#links {
    text-align: center;
}

#links div {
    border: solid black;
    border-radius: 30px;
    margin: 0 auto;
    width: 300px;
    transition: all 0.05s ease;
}

#links div:hover {
    background-color: rgb(212, 212, 255);
    filter: sepia(500%) hue-rotate(30deg);
    box-shadow: 5px 5px 10px black;
}

#links img {
    filter: none;
}

#russian-roulette {
    padding: 10px;
}
#russian-roulette img {
    width: 300px;
}

#demo img {
    margin-top: -10px;
    margin-bottom: -50px;
}

#links #shop:hover{
    filter: none;
}
#shop img {
    width: 300px;
    margin: -20px;
    padding-bottom: -10px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}